<!doCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="宾馆客房管理系统">
    <meta name="author" content="shadyzoz">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>宾馆客房管理系统</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/dashboard.css" rel="stylesheet">
    <link href="/static/datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'hotel:index' %}">宾馆客房管理系统</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">About</a></li>
            <li><a href="/admin/hotel">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            {% ifequal select "0" %}
              <li class="active"><a href={% url 'hotel:overview' %}>Overview <span class="sr-only">(current)</span></a></li>
            {% else %}
              <li><a href={% url 'hotel:overview' %}>Overview</a></li>
            {% endifequal %}
            {% ifequal select "1" %}
              <li class="active"><a href={% url 'hotel:reservation' %}>Reservation <span class="sr-only">(current)</span></a></li>
            {% else %}
              <li><a href={% url 'hotel:reservation' %}>Reservation</a></li>
            {% endifequal %}
            {% ifequal select "2" %}
              <li class="active"><a href={% url 'hotel:checkIn' %}>Check In <span class="sr-only">(current)</span></a></li>
            {% else %}
              <li><a href={% url 'hotel:checkIn' %}>Check In</a></li>
            {% endifequal %}
            {% ifequal select "3" %}
              <li class="active"><a href={% url 'hotel:checkOut' %}>Check Out <span class="sr-only">(current)</span></a></li>
            {% else %}
              <li><a href={% url 'hotel:checkOut' %}>Check Out</a></li>
            {% endifequal %}
          </ul>
          <ul class="nav nav-sidebar">
            {% ifequal select "4" %}
              <li class="active"><a href="/admin/hotel/orderinfo/">Order Manage <span class="sr-only">(current)</span></a></li>
            {% else %}
              <li><a href="/admin/hotel/orderinfo/">Order Manage</a></li>
            {% endifequal %}
            {% ifequal select "5" %}
              <li class="active"><a href="/admin/hotel/roominfo/">Room Manage <span class="sr-only">(current)</span></a></li>
            {% else %}
              <li><a href='/admin/hotel/roominfo/'>Room Manage</a></li>
            {% endifequal %}
            {% ifequal select "6" %}
              <li class="active"><a href="/admin/hotel/clientinfo/">Customer Manage <span class="sr-only">(current)</span></a></li>
            {% else %}
              <li><a href="/admin/hotel/clientinfo/">Customer Manage</a></li>
            {% endifequal %}
          </ul>
          <ul class="nav nav-sidebar">
            {% ifequal select "7" %}
              <li class="active"><a href={% url 'hotel:about' %}>About <span class="sr-only">(current)</span></a></li>
            {% else %}
              <li><a href={% url 'hotel:about' %}>About</a></li>
            {% endifequal %}
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          {% ifequal select "0" %}
            {% include 'hotel/dashboard/overview.html' %}
          {% endifequal %}

          {% ifequal select "1" %}
            {% include 'hotel/dashboard/reservation.html' %}
          {% endifequal %}

          {% ifequal select "2" %}
            {% include 'hotel/dashboard/checkIn.html' %}
          {% endifequal %}

          {% ifequal select "3" %}
            {% include 'hotel/dashboard/checkOut.html' %}
          {% endifequal %}



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->



    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
